<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加博客</title>
</head>
<body>
    <form action="/blog/add" method="post">
        <p>
            <label for="title">标题</label>
            <input id="title" name="title" type="text">
        </p>

        <p>
            <label for="content">内容</label>
            <textarea id="content" name="content" id="" cols="30" rows="10"></textarea>
        </p>
        <p>
            <input type="submit" value="确定">
        </p>
    </form>
</body>
</html>