<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List</title>
</head>
<body>
    <h2>第一篇文章</h2>
    <h3>标题：{{article.title}}</h3>
    <p>内容{{article.content}}</p>
    <hr>
    <h2>文章列表</h2>
    <table>
        <thead>
            <th>标题</th>
            <th>内容</th>
            <th>时间</th>
        </thead>
        <tbody>
            {% for article in articles %}
            <tr>
                <td>{{article.title}}</td>
                <td>{{article.content}}</td>
                <td>{{article.pub_time|date:"Y-m-d H:i:s"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>